<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias alias="User" type="com.icss.entity.User" />
		<typeAlias alias="Staff" type="com.icss.entity.Staff" />	
		<typeAlias alias="Card" type="com.icss.entity.Card" />		
	</typeAliases>	
	
	<mappers>
		<mapper resource="com/icss/mapper/userMapper.xml" />
		<mapper resource="com/icss/mapper/staffMapper.xml" />
	</mappers>
</configuration>